<tr class="header-space"></tr>
<tr>
    <td>
        <h1>Reset your password?</h1>

        <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]), method: :patch do |form| %>
            <%= form.label :password %>
            <%= form.password_field :password, placeholder: "Password" %>
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, placeholder: "Confirm Password" %>
            <%= form.submit "Reset Password", class: "btn btn-primary" %>
        <% end %>
    </td>
</tr>
