<tr class="header-space"></tr>
<tr>
  <td>
    <table class="page-table">
      <tbody>
        <tr>  
          <td align="right">
            <span ><%= 1 %>.</span>
          </td>  
          <td valign="top">
            <center>
              <%= button_to upvote_article_comment_path(comment), method: :post, class: "btn btn-sm upvote-button", data: { votable_type: 'Comment', votable_id: comment.id, article_id: comment.article.id } do %>
                <i class="fas fa-arrow-up"></i>
              <% end %>
              <%= button_to downvote_article_comment_path(comment), method: :post, class: "btn btn-sm downvote-button", data: { votable_type: 'Comment', votable_id: comment.id, article_id: comment.article.id } do %>
                <i class="fas fa-arrow-down"></i>
              <% end %>
            </center>
          </td>
          <td>
            <%= comment.text %>
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td class="subtext">
            <span id="score-Comment-<%= comment.id %>"><%= comment.score %> points</span>
            by <%= link_to comment.user.name, user_path(comment.user) %>
            <span class="age"><%= time_ago_in_words(comment.created_at) %> ago</span>
          </td>
        </tr>
        <tr class="post-subtext"></tr>
      </tbody>
    </table>
    <%= form_with(model: [comment.article, @reply], local: true) do |form| %>
      <div class="field">
        <%= form.text_area :text %>
      </div>
      <%= form.hidden_field :parent_id, value: comment.id %>
      <div>
        <%= form.submit "Reply" %>
      </div>
    <% end %>
  </td>
</tr>
