<tr class="header-space"></tr>
<tr>
  <td>
    <table class="page-table">
      <tbody>
        <% current_page = params[:page].present? ? params[:page].to_i : 1 %>
        <% @articles.each_with_index do |article, index| %>
          <tr>
            <td align="right">
              <span ><%= (current_page-1) * 20 + index + 1 %>.</span>
            </td>
            <td valign="top">
              <center>
                <%= button_to upvote_article_path(article), method: :post, class: "btn btn-sm upvote-button", data: { votable_type: 'Article', votable_id: article.id } do %>
                  <i class="fas fa-arrow-up"></i>
                <% end %>
                <%= button_to downvote_article_path(article), method: :post, class: "btn btn-sm downvote-button", data: { votable_type: 'Article', votable_id: article.id } do %>
                  <i class="fas fa-arrow-down"></i>
                <% end %>
              </center>
            </td>
            <td class="title">
              <%= link_to article.title, article.link, target: "_blank" %>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span id="score-Article-<%= article.id %>" class="score"><%= article.score %> points</span>
              by <%= link_to article.user.name, user_path(article.user) %>
              <span class="age"><%= time_ago_in_words(article.created_at) %> ago</span>
              |
              <span class="comments-count"><%= link_to "#{article.comments.count} comments", article %></span>
            </td>
          </tr>
          <tr class="post-subtext"></tr>
        <% end %>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td>
    <div class="paginate-spacing">
      <%= paginate @articles %>
    </div>
  </td>
</tr>
