<h1>Edit Password</h1>

<%= form_for user, url: update_password_user_path(user), method: :patch do |f| %>
  <div class="field">
    <div>
        <%= f.label :password %>
    </div>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update Password" %>
  </div>
<% end %>
