<!DOCTYPE html>
<html>
  <head>
    <title>HaxxorNewsClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>

    <div>
      <% unless home? %>
        <%= button_to "Home", root_path, method: :get %>
      <% end %>
      <% if logged_in? %>
      <p>Logged in as <%= link_to current_user.name, user_path(current_user) %></p>
        <%= button_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= button_to "Login", login_path, method: :get %>
        <%= button_to "Sign Up", signup_path, method: :get %>
      <% end %>
    
    </div>
  </body>
</html>
