<!DOCTYPE html>
<html>
  <head>
    <title>HaxxorNewsClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>

    <div>
    <% if !home? %>
    <%= button_to "Home", root_path, method: :get %>
    <% end %>
    <% if logged_in? %>
    <p>Logged in as <%= current_user.name %></p>
      <%= button_to "Logout", sessions_path, method: :delete %>
    <% else %>
      <%= button_to "Login", login_path, method: :get %>
      <%= button_to "Sign Up", signup_path, method: :get %>
    <% end %>
    
    </div>
  </body>
</html>
